{{ form_start(form) }}
<div class="row">
    <div class="col">
        {{ form_row(form.name) }}
    </div>
    <div class="col">
        {{ form_row(form.email) }}
    </div>
</div>
<div class="row">
    <div class="col">
        {{ form_row(form.code) }}
    </div>
    <div class="col text-end">
        {{ form_row(form.submit, {'attr': {'class': 'btn'}}) }}
    </div>
</div>
{{ form_end(form) }}
