{% extends 'basePatient.html.twig' %}



{% block title %}Echange | PictoPicto{% endblock %}
{% block echange %}
    {# Carousel Category #}
    <div class="px-5 wrapperC">
        <div class="carouselC align-middle d-flex">
            <div class="contentC my-3">
            </div>
        </div>
        <button class="prevC bg-transparent">
            <i class="bi bi-caret-left-fill"></i>
        </button>
        <button class="nextC bg-transparent">
            <i class="bi bi-caret-right-fill"></i>
        </button>
    </div>
    {# end Carousel Category #}

    {# Carousel Pictogram #}
    <div class="px-5 wrapperP" id="picto-carroussel">
        <div class="carouselP align-middle" id="listPicto">
            <div class="contentP my-3">
            </div>
        </div>
        <button class="prevP bg-transparent">
            <i class="bi bi-caret-left-fill"></i>
        </button>
        <button class="nextP bg-transparent">
            <i class="bi bi-caret-right-fill"></i>
        </button>
    </div>
    {# end Carousel Pictogram #}
{% endblock %}
{% block phrase %}
    {# Champs Phrase #}
    {% if patient is defined %}
    {{ form_start(formText) }}
    <div id="sentence" class="d-flex align-items-center">
        <div id="sentenceField" class="flex-grow-1 text-center py-1">
            <span id="sentenceText"></span>
        </div>
        {{ form_widget(formText.text) }}
        <button id="test2" type="button" class="btn btn-sm px-3" data-toggle="modal" data-target="#sentenceConf"><i class="fas fa-star fa-3x"></i></button>
    </div>
    {# Champs Phrase #}
    {# Modal de Confirmation de Sauvegarde de Phrase #}
    <div class="modal fade" id="sentenceConf" tabindex="-1" role="dialog" aria-labelledby="sentenceConf" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <h5 class="modal-title text-body">Sauvegarder la phrase ?</h5>
                </div>
                <div class="modal-footer d-flex justify-content-around border-0">
                    <button type="button" class="btn btn-danger rounded-pill" data-dismiss="modal"><i class="bi bi-x"></i></button>
                    {# Bouton Submit #}
                    {{ form_row(formText.submit) }}<button type="submit" class="btn btn-success rounded-pill"><i class="bi bi-check2"></i></button>
                    {{ form_end(formText) }}
                </div>
            </div>
        </div>
    </div>
    {# end Modal de Confirmation de Sauvegarde de Phrase #}
    {% else %}
        <div id="sentence" class="d-flex align-items-center">
            <div id="sentenceField" class="flex-grow-1 text-center py-1  border-radius-all ">
                <span id="sentenceText"></span>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block commands %}
    {% block menu %}
    {% endblock %}
    {% block buttons %}
    {% endblock %}
{% endblock %}

{% block script %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{{ asset('js/jquery-3.6.0.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('js/jquery.ui.touch-punch.js') }}"></script>
    <script src="{{ asset('js/drag-and-drop.js') }}"></script>
    <script src="{{ asset('js/ajaxPictogram.js') }}"></script>
    <script src="{{ asset('js/question.js') }}"></script>
    <script src="{{ asset('js/script.js') }}"></script>
    <script src="{{ asset('js/carousel.js') }}"></script>
    <script src="{{ asset('js/conjugating.js') }}"></script>
    <script src="{{ asset('js/negatif.js') }}"></script>
    <script src="{{ asset('js/checkWidth.js') }}"></script>
    <script src="{{ asset('js/audio/recorder.js') }}"></script>
    <script src="{{ asset('js/audio/Fr.voice.js') }}"></script>
    <script src="{{ asset('js/audio/app_record.js') }}"></script>
{% endblock %}
