{% extends 'baseTherapist.html.twig' %}

{% block title %}Modification du Mot de Passe | PictoPicto{% endblock %}

    {% block body %}
        <div class="my-2 ps-3"><a href="{% if app.user %}{{ path('admin') }}{% else %}{{ path('home') }}{% endif %}" class="text-center fw-light text-muted">Retour à l'accueil</a></div>
        <main id="homeWrapper" class="container my-3 py-3 px-5">
            <div class="text-center py-3">
                <a id="logo" class="navbar-brand col-md-2 col-lg-2 px-3" href="#"><img src="{{ asset('img/LogoEcam.png') }}" alt="Ecam">
                </a>
            </div>

            {% if notificationWarning %}
                <div class="alert alert-danger">{{ notificationWarning }}</div>
            {% endif %}
            {{ form_start(form) }}
            {% if not form.vars.valid %}
                <div class="alert alert-danger">
                    {{ form_errors(form.newPassword.first) }}
                </div>
            {% endif %}
            <div class="text-center my-4">
                {{ form_label(form.oldPassword) }}{{ form_widget(form.oldPassword) }}
            </div>
            <div class="text-center my-4">
                {{ form_label(form.newPassword.first) }}{{ form_widget(form.newPassword.first) }}

            </div>
            <div class="text-center my-4">
                {{ form_label(form.newPassword.second) }}{{ form_widget(form.newPassword.second) }}
            </div>
            <div class="text-center my-4">
                {{ form_row(form.submit, {'label': 'Valider', 'attr': {'class': 'btn'}}) }}
            </div>
            {{ form_end(form) }}
            <div>
                <a href="{% if app.user %}{{ path('admin') }}{% else %}{{ path('home') }}{% endif %}" class="btn btn-sm">Annuler</a>
            </div>
            </div>

        </main>
    {% endblock %}

